<h1>Matt Leeper</h1>


<h1>Welcome to CSE Motors!</h1>
<%- messages() %>
    <section class="promo">
        <h2>DMC Delorean</h2>
        <div class="promo-content">
            <img src="images/vehicles/delorean-tn.jpg" alt="delorean" class="delorean-image">
            <div class="promo-text">
                <p>3 Cup holders, Superman doors, Fuzzy dice!</p>
                <a href="#" class="cta-button">Own Today!</a>
            </div>
        </div>
    </section>

    <section class="upgrades">
        <h3>Delorean Upgrades</h3>
        <div class="upgrades-grid">
            <div class="upgrade-item">
                <img src="images/upgrades/flux-cap.png" alt="flux-cap">
                <p>Flux Capacitor</p>
            </div>

            <div class="upgrade-item">
                <img src="images/upgrades/flame.jpg" alt="flame">
                <p>Flame Decals</p>
            </div>
            <div class="upgrade-item">
                <img src="images/upgrades/bumper_sticker.jpg" alt="bumper_sticker">

                <p>Bumper Stickers</p>
            </div>
            <div class="upgrade-item">
                <img src="images/upgrades/hub-cap.jpg" alt="hub-cap">

                <p>Hub Caps</p>
            </div>
        </div>
    </section>

    <section class="reviews">
        <h3>DMC Delorean Reviews</h3>
        <ul>
            <li>“So fast it's almost like traveling in time.” (4/5)</li>
            <li>“Coolest ride on the road.” (5/5)</li>
            <li>“I'm feeling McFly!” (5/5)</li>
            <li>“The most futuristic ride of our day.” (4.5/5)</li>
            <li>“80's livin and I love it!” (5/5)</li>
        </ul>

    </section>