<!-- view content heading -->
<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } else { res.redirect('/') } %>

        <%# messages() %>


            <!-- Links for managing -->
            <div class="action-links">
                <a href="./add-classification" id="addClassificationLink" class="btn btn-primary">Add New
                    Classification</a>
                <a href="./add-inventory" id="addInventoryLink" class="btn btn-success">Add New Inventory</a>
            </div>